@import "tailwindcss";

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url(../src/assets/background.webp);
    background-size: 150%;
    background-repeat: no-repeat;
}

.mainContainer{
    display: grid;
    grid-template-columns: 450px 200px 200px;
    grid-template-rows: 220px 100px ;
    width: 60%;
    height: 80%;
    border-radius: 15px;
    border: solid #A78BFA 1px;
    box-shadow: 10px 7px 10px #230031;
    background-color: #50006f;   
}

#sleepLogsContainer{
    border: solid #500070 3px;
    box-shadow: 4px 4px 5px #230031;
    border-radius: 15px;
    background-color: #e49fff;
}

#sleepLogs{
    display: grid;
    grid-template-columns: auto auto auto auto;
    column-gap: 20px;
    row-gap: 10px;
    margin: 10px 10px 0px 10px;
}

#sleepLogs p{
    text-align: center;
}

#editSleepLogsButton{
    position: relative;
    left: 400px;
}

ul{
    width: 100%;
}

p{
    color: black;
}

b{
    color: #E2E8F0;
}

h4{
    color: #530068;
    font-size: 15px;
    text-align: center;
}
