@import "tailwindcss";

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url(../src/assets/background.webp);
    background-size: 150%;
    background-repeat: no-repeat;
}

.mainContainer{
    display: grid;
    grid-template-columns: 200px 200px 200px;
    width: 60%;
    height: 80%;
    border-radius: 15px;
    border: solid #A78BFA 1px;
    box-shadow: 10px 7px 10px #230031;
    background-color: #50006f;   
}
/* 
.sleepEntry{
    border: solid #A78BFA 1px;
    border-radius: 15px;
} */

#sleepLogsContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: solid #A78BFA 1px;
    box-shadow: 4px 4px 5px #230031;
    border-radius: 15px;
}

ul{
    width: 100%;
}

li{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

p{
    color: white;
}

b{
    color: #E2E8F0;
}
